<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="false" scanPeriod="10 seconds">

  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>[%d{yyyy-MM-dd HH:mm:ss}:%-4relative] %green([%thread]) %highlight(%-5level)
        %logger
        %boldWhite([%C.%M:%yellow(%L)]) - %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">

    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <!-- daily rollover -->
      <fileNamePattern>./errorLog/error_log.%d{yyyy-MM-dd}</fileNamePattern>
      <!-- keep 30 days' worth of history capped at 3GB total size -->
      <maxHistory>30</maxHistory>
      <totalSizeCap>3GB</totalSizeCap>
    </rollingPolicy>

    <encoder>
      <charset>UTF-8</charset>
      <Pattern>%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</Pattern>
    </encoder>

    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>WARN</level>
    </filter>
  </appender>

  <!--  ELK-->
  <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
    <destination>127.0.0.1:4560</destination>
    <encoder class="net.logstash.logback.encoder.LogstashEncoder"></encoder>
  </appender>

  <root level="info">
    <appender-ref ref="CONSOLE"/>
<!--    <appender-ref ref="FILE"/>-->
<!--    <appender-ref ref="LOGSTASH"/>-->
  </root>

  <!--  logger name 과 level을 지정해서 로거를 설정 -->
  <logger name="com.example.apideliveryservice.ApiDeliveryServiceApplication" level="warn"/>
  <logger name="org.hibernate.validator.internal.util.Version" level="warn"/>
  <logger name="org.springframework.boot.devtools.env.DevToolsPropertyDefaultsPostProcessor" level="warn"/>
  <logger name="org.springframework.data.repository.config.RepositoryConfigurationDelegate" level="warn"/>
  <logger name="org.springframework.web" level="warn"/>
  <logger name="org.apache" level="warn"/>
  <logger name="org.springframework.boot.web" level="warn"/>
  <logger name=" com.zaxxer.hikari.HikariDataSource" level="warn"/>
  <logger name="org.springframework.boot.autoconfigure.h2.H2ConsoleAutoConfiguration" level="warn"/>
  <logger name="org.hibernate.SQL" level="debug"/>
</configuration>