<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
    window.onload = function () {
      //취소버튼 함수
      let url = window.location.href;
      let id = url.replace("http://localhost:8081/delivery-service/company/food/addFood/", "");
      var cancelBtn = document.getElementById('cancel');
      cancelBtn.onclick = function () {
        location.href = "http://localhost:8081/delivery-service/company/member/members/" + id;
      }

      //음식등록 함수
      let txtName = document.getElementById("name");
      let txtPrice = document.getElementById("price");
      let btnSubmit = document.getElementById("submit");
      btnSubmit.onclick = function () {
        axios({
          url: 'http://192.168.100.1:5511/api/delivery-service/company/food/addFood',
          method: 'post',
          data: {
            memberId: id,
            name: txtName.value,
            price: txtPrice.value
          }
        })
        .then(function a(response) {
          let status = response.status;
          if (status == 201) {
            alert("음식등록에 성공했습니다.");
            window.location.href = "http://localhost:8081/delivery-service/company/member/members/" + id;
          }
        })
        .catch(function (error) {
          let errorType = error.response.data.type
          if (errorType == "/errors/food/add/name-blank") {
            alert("[실패] 음식이름은 공백을 허용하지 않습니다.")
          } else if (errorType == "/errors/food/add/price-notDigit") {
            alert("[실패]가격은 숫자로만 입력 가능합니다.");
          }else if (errorType =="/errors/food/add/memberId-blank") {
            alert("[실패] 멤버id는 공백을 허용하지 않습니다.")
          } else {
            alert("[실패] 잠시 후 시도해 주세요");
          }
        });
      };
    };
  </script>

  <title>음식등록</title>
</head>
<body>
<div>
  <h2>음식 등록</h2>
</div>
<div>
  <label for="name">음식이름</label>
  <input type="text" id="name" placeholder="음식이름을 입력하세요">
</div>
<div>
  <label for="price">가격</label>
  <input type="text" id="price" placeholder="가격을 입력하세요">
</div>

<div>
  <input type="button" id="submit" value="등록">
</div>
<div>
  <input type="button" id="cancel" onclick="location.href='/delivery-service'" value="취소">
</div>

</body>
</html>