<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
    window.onload = function () {
      //foodId
      let url = window.location.href;
      let foodId = url.replace('http://localhost:8080/delivery-service/company/food/updatePrice/', '');

      //취소버튼 이전 페이지
      let referrer = document.referrer;
      let cancelBtn = document.getElementById("cancelBtn");
      cancelBtn.onclick = function () {
        location.href = referrer;
      };

      //food id로 정보를 받아와서 idInput.value 값 넣기
      let idInput = document.getElementById("id");
      let foodInfo;
      axios({
        url: 'http://192.168.148.4:5510/api/delivery-service/company/food/information',
        method: 'get',
        params: {
          foodId: foodId
        }
      })
      .then(function (response) {
        foodInfo = response.data.companyFoodDto;
        idInput.value = foodInfo.name;
      })
      .catch(function (error) {
        console.log(error);
      });

      //음식 업데이트 등록 버튼 연결
      let priceInput = document.getElementById("price");
      let btnSubmit = document.getElementById("submit");

      btnSubmit.onclick = function () {
        axios({
          url: 'http://192.168.148.4:5510/api/delivery-service/company/food/update',
          method: 'put',
          data: {
            foodId: foodId,
            price: priceInput.value
          }
        })
        .then(function (response) {
          let status = response.status;
          if (status == 200) {
            alert("음식 가격 변경에 성공했습니다.")
            window.location.href = referrer;
          }
        })
        .catch(function (error) {
          let errorType = error.response.data.type
          if (errorType == "/errors/food/update/foodId-blank") {
            alert("[실패] foodId는 공백을 허용하지 않습니다.")
          } else if (errorType == "/errors/food/update/price-notDigit") {
            alert("[실패]가격은 숫자로만 입력 가능합니다.");
          } else {
            alert("[실패] 잠시 후 시도해 주세요");
          }
        });

      };
    }
  </script>

</head>
<body>

<div>
  <div >
    <h2>음식 가격 변경</h2>
  </div>
  <div>
    <label for="id">이름</label>
    <input type="text" id="id" readonly>
  </div>
  <div>
    <label for="price">가격</label>
    <input type="text" id="price" placeholder="변경할 가격을 입력하세요">
  </div>


  <div>
    <div>
      <input type="button" id="submit" value="등록">
    </div>
    <div>
      <input type="button" id='cancelBtn' value="취소">
    </div>
  </div>
</div> <!-- /container -->
</body>
</html>