<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
    window.onload = function () {
      //requestParam 가져오기 함수
      function getParam(sname) {
        var params = location.search.substr(location.search.indexOf("?") + 1);
        var sval = "";
        params = params.split("&");
        for (var i = 0; i < params.length; i++) {
          temp = params[i].split("=");
          if ([temp[0]] == sname) { sval = temp[1]; }
        }
        return sval;
      }

      //requestParam generalMemberId 가져오기.
      let generalMemberId = getParam("generalMemberId");
      //requestParam companyMemberId 가져오기.
      let companyMemberId = getParam("companyMemberId");

      //제네럴멤버 h2 나타내기
      let generalH2 = document.getElementById("generalH2");
      axios({
        url: 'http://127.0.0.1:5510/api/delivery-service/general/member/information',
        method: 'get',
        params: {
          memberId: generalMemberId
        }
      })
      .then(function (response) {
        let generalMemberName = response.data.generalMemberDto.name;
        let textNode = document.createTextNode(generalMemberName+" 음식 주문 페이지");
        generalH2.appendChild(textNode);
      })
      .catch(function (error) {
        console.log(error);
        alert("서버에 문제가 있습니다. 잠시후 시도해 주세요.")
      });

      //컴패니멤버 h2 나타내기
      let companyH2 = document.getElementById("companyH2");
      axios({
        url: 'http://127.0.0.1:5510/api/delivery-service/company/member/information',
        method: 'get',
        params: {
          memberId: companyMemberId
        }
      })
      .then(function (response) {
        let companyMemberDto = response.data.companyMemberDto.name;
        let textNode = document.createTextNode(companyMemberDto+" 음식 리스트");
        companyH2.appendChild(textNode);
      })
      .catch(function (error) {
        console.log(error);
        alert("서버에 문제가 있습니다. 잠시후 시도해 주세요.")
      });

      //음식주문 함수
      let purchaseFunction = function (generalMemberId, companyMemberId, foodId, foodPrice) {
        axios({
          url: 'http://127.0.0.1:5510/api/delivery-service/general/member/purchase',
          method: 'post',
          data: {
            generalMemberId: generalMemberId,
            companyMemberId: companyMemberId,
            foodId: foodId,
            foodPrice: foodPrice
          }
        })
        .then(function (response) {
          console.log("버튼 성공이다.")
          console.log(response)
          console.log(response.status)
        })
        .catch(function (error) {
          console.log(error);
        });
      };

      //컴패니 음식리스트 출력 그리고 주문하기 버튼 완성하기.
      //먼저 음식 리스트 출력 memberid에 해당하는 음식 목록 전체 가져오기.
      let tBody = document.getElementById("tBody");

      function makeTable(dataList) {
        event.stopPropagation()
        event.preventDefault()
        for (i in dataList) {

          let textNode = document.createTextNode(dataList[i].memberId);
          let tdNode = document.createElement("td");
          tdNode.appendChild(textNode)
          let textNode2 = document.createTextNode(dataList[i].id);
          let tdNode2 = document.createElement("td");
          tdNode2.appendChild(textNode2)
          let textNode3 = document.createTextNode(dataList[i].name);
          let tdNode3 = document.createElement("td");
          tdNode3.appendChild(textNode3)
          let textNode4 = document.createTextNode(dataList[i].price);
          let tdNode4 = document.createElement("td");
          tdNode4.appendChild(textNode4)


          let inputElement = document.createElement("input");
          inputElement.type = "button"
          inputElement.value = "음식주문"
          inputElement.id = "purchaseButton"
          //onclick 함수 넣어주면된다.
          inputElement.onclick = purchaseFunction(generalMemberId, companyMemberId,
              dataList[i].id, dataList[i].price);
          let tdNode5 = document.createElement("td");
          tdNode5.appendChild(inputElement)


          let trNode = document.createElement("tr");
          trNode.appendChild(tdNode);
          trNode.appendChild(tdNode2);
          trNode.appendChild(tdNode3);
          trNode.appendChild(tdNode4);
          trNode.appendChild(tdNode5);
          tBody.appendChild(trNode);
        }
      }

      axios({
        url: 'http://127.0.0.1:5510/api/delivery-service/company/food/allFood',
        method: 'get',
        params: {
          memberId: companyMemberId
        }
      })
      .then(function (response) {
        let status = response.status;
        let foodList = response.data.list;
        if (status == 200) {
          makeTable(foodList);
        }
      })
      .catch(function (error) {
        console.log(error);
        alert("서버에 문제가 있습니다. 잠시후 시도해 주세요.")
      });

      //음식 주문 버튼


    };
  </script>

</head>

<body>
<div>
  <h2 id="generalH2"></h2>
</div>
<div>
  <h2 id="companyH2"></h2>
</div>

<table id="table" border="1">
  <thead>
  <tr>
    <th>멤버 id</th>
    <th>음식 id</th>
    <th>음식 이름</th>
    <th>음식 가격</th>
    <th>음식 주문하기</th>
  </tr>
  </thead>
  <tbody id="tBody"></tbody>
</table>

</body>
</html>