<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script th:inline="javascript">
    window.onload = function () {
      let apiUrl = [[${@environment.getProperty('url.api')}]];
      let uiUrl = [[${@environment.getProperty('url.ui')}]];

      let txtId = document.getElementById("id");
      let txtPassword = document.getElementById("password");
      let txtName = document.getElementById("name");
      let btnSubmit = document.getElementById("submit");

      btnSubmit.onclick = function () {
        axios({
          url: "http://"+apiUrl+"/api/delivery-service/company/member/join",
          method: 'post',
          data: {
            loginName: txtId.value,
            password: txtPassword.value,
            name: txtName.value
          }
        })
        .then(function (response) {
          let status = response.status;
          if (status == 201) {
            alert("회원가입에 성공하였습니다.");
            window.location.href="http://"+uiUrl+"/delivery-service";
          }
        })
        .catch(function (error) {
          console.log(error)
          let errorType = error.response.data.type
          let errorStatus = error.response.status
          if (errorType == "/errors/member/join/longinName-pattern") {
            alert("[실패] 아이디는 소문자 숫자 8글자 이상 20글자 이하여야 합니다.")
          }else if (errorType == "/errors/member/join/password-pattern") {
            alert("[실패] 비밀번호는 소문자 대문자 숫자 특수문자를 최소 하나씩 포함한 8글자 이상이어야 합니다.")
          } else if (errorType == "/errors/member/join/name-blank") {
            alert("[실패] 이름은 공백이어서는 안됩니다.")
          }else if (errorType == "/errors/member/join/duplicate-login-name") {
            alert("[실패] 중복된 loginId 입니다.")
          }
          if (errorStatus == 500) {
            alert("[실패] 잠시 후 시도해 주세요");
          }
        });
      };
    }
  </script>

</head>
<body>

<div>
  <div >
    <h2>기업멤버 회원가입</h2>
  </div>
    <div>
      <label for="id">아이디</label>
      <input type="text" id="id" name="loginName" placeholder="id를 입력하세요">
    </div>
    <div>
      <label for="password">비밀번호</label>
      <input type="text" id="password" name="password" placeholder="비밀번호를 입력하세요">
    </div>
    <div>
      <label for="name">이름</label>
      <input type="text" id="name" name="name" placeholder="이름을 입력하세요">
    </div>

    <div>
      <div>
        <input type="button" id="submit" value="등록">
      </div>
      <div>
        <input type="button" onclick="location.href='/delivery-service'" value="취소">
      </div>
    </div>
</div> <!-- /container -->
</body>
</html>
