<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
    window.onload = function () {
      //음식 등록 버튼 함수
      let url = window.location.href;
      let id = url.replace('http://localhost:8080/delivery-service/company/member/members/', '');
      let addFoodFormUrl = 'http://localhost:8080/delivery-service/company/food/addFood/'+id;
      let addFoodBtn = document.getElementById('addFoodBtn');
      addFoodBtn.onclick =function () {
        location.href = addFoodFormUrl;
      }

      //기업 상호명 해당 id 기업 정보 가져오기, 음식 상호명 companyMember name 적용하기
      let companyMemberInfo;
    //음식 리스트 가져와 테이블 만들기.

      axios({
        url: 'http://127.0.0.1:5510/api/delivery-service/company/member/information',
        method: 'get',
        params: {
          memberId: id
        }
      })
      .then(function a(response) {
        // let stauts = response.status;
        companyMemberInfo = response.data.companyMemberDto;
        console.log(response)
        let innerName = companyMemberInfo["name"];
        let innerText = document.createTextNode(innerName+" 페이지");
        let h2 = document.getElementById("h2");
        h2.appendChild(innerText)
      })
      .catch(function (error) {
        console.log(error);
      });
      let tBody = document.getElementById("tBody");

    function makeTable(dataList) {
      for (i in dataList) {
        console.log(dataList[i])
        let textNode1 = document.createTextNode(dataList[i].id);
        let tdNode1 = document.createElement("td");
        tdNode1.appendChild(textNode1)
        let textNode2 = document.createTextNode(dataList[i].memberId);
        let tdNode2 = document.createElement("td");
        tdNode2.appendChild(textNode2)
        let textNode3 = document.createTextNode(dataList[i].name);
        let tdNode3 = document.createElement("td");
        tdNode3.appendChild(textNode3)
        let textNode4 = document.createTextNode(dataList[i].price);
        let tdNode4 = document.createElement("td");
        tdNode4.appendChild(textNode4)
        let aNode = document.createElement("a");
        let textNode = document.createTextNode("가격수정페이지");
        aNode.appendChild(textNode)
        aNode.href = 'http://localhost:8080/delivery-service/company/food/updatePrice/'+dataList[i].id;
        let tdNode5 = document.createElement("td");
        tdNode5.appendChild(aNode)
        let trNode = document.createElement("tr");
        trNode.appendChild(tdNode1);
        trNode.appendChild(tdNode2);
        trNode.appendChild(tdNode3);
        trNode.appendChild(tdNode4);
        trNode.appendChild(tdNode5);
        tBody.appendChild(trNode);
        }
      }

      axios({
        url: 'http://127.0.0.1:5510/api/delivery-service/company/food/allFood',
        method: 'get',
        params: {
          memberId: id
        }
      })
      .then(function (response) {
        let status = response.status;
        let responseData = response.data;
        console.log(responseData)
        let foodList = responseData["list"];
        console.log(foodList)
        if (status == 200) {
          makeTable(foodList);
        }
      })
      .catch(function (error) {
        console.log(error);
        alert("서버에 문제가 있습니다. 잠시후 시도해 주세요.")
      });

      // //1개월 매출 a태그 href설정하기.
      // let aTag = document.getElementById("atag");
      // aTag.href = '/delivery-service/company/member/sales/'+id
    };
  </script>

</head>

<body>
  <div>
    <h2 id="h2"></h2>
    <input type="button" value="돌아가기" onclick="location.href='/delivery-service/company/member/members'">
    <input id="addFoodBtn" type="button" value="음식 등록하기">
<!--    <a id="atag" >1개월 매출 금액 알아보기</a>-->
  </div>


  <table id="table" border="1">
    <thead>
    <tr>
      <th>foodId</th>
      <th>memberId</th>
      <th>음식명</th>
      <th>최신가격</th>
      <th>가격수정페이지</th>
    </tr>
    </thead>
    <tbody id="tBody"></tbody>
  </table>

</body>
</html>