<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
    window.onload = function () {
      //음식 등록 버튼 함수
      let url = window.location.href;
      let id = url.replace('http://localhost:8080/delivery-service/company/member/members/', '');
      let addFoodFormUrl = 'http://localhost:8080/delivery-service/company/food/addFood/'+id;
      let addFoodBtn = document.getElementById('addFoodBtn');
      addFoodBtn.onclick =function () {
        location.href = addFoodFormUrl;
      }

      //기업 상호명 해당 id 기업 정보 가져오기, 음식 상호명 companyMember name 적용하기
      let companyMemberInfo;
      axios({
        url: 'http://127.0.0.1:5510/api/delivery-service/company/member/information',
        method: 'get',
        params: {
          memberId: id
        }
      })
      .then(function a(response) {
        // let stauts = response.status;
        companyMemberInfo = response.data.companyMemberDto;
        console.log(response)
        let innerName = companyMemberInfo["name"];
        let innerText = document.createTextNode(innerName+" 페이지");
        let h2 = document.getElementById("h2");
        h2.appendChild(innerText)
      })
      .catch(function (error) {
        console.log(error);
      });

    //음식 리스트 가져와 테이블 만들기.
    let tBody = document.getElementById("tBody");

    function makeTable(dataList) {
      for (i in dataList) {

        let textNode = document.createTextNode(dataList[i].name);
        let tdNode = document.createElement("td");
        tdNode.appendChild(textNode)
        let aNode = document.createElement("a");
        aNode.text = dataList[i].price;
        //가격 수정 페이지 이동
        aNode.href = 'http://localhost:8080/delivery-service/company/member/members';
        let tdNode2 = document.createElement("td");
        tdNode2.appendChild(aNode)
        let trNode = document.createElement("tr");
        trNode.appendChild(tdNode);
        trNode.appendChild(tdNode2);
        tBody.appendChild(trNode);
      }
    }

    axios({
      url: 'http://127.0.0.1:5510/api/delivery-service/company/food/allFood',
      method: 'get',
      params: {
        memberId: id
      }
    })
    .then(function (response) {
      let status = response.status;
      let responseData = response.data;
      console.log(responseData)
      let foodList = responseData["list"];
      console.log(foodList)
      if (status == 200) {
        makeTable(foodList);
      }
    })
    .catch(function (error) {
      console.log(error);
      alert("서버에 문제가 있습니다. 잠시후 시도해 주세요.")
    });
    };
  </script>

</head>

<body>
  <div>
    <h2 id="h2"></h2>
    <input type="button" value="돌아가기" onclick="location.href='/delivery-service/company/member/members'">
    <input id="addFoodBtn" type="button" value="음식 등록하기">
  </div>


  <table id="table" border="1">
    <thead>
    <tr>
      <th>음식명</th>
      <th>가격</th>
    </tr>
    </thead>
    <tbody id="tBody"></tbody>
  </table>

</body>
</html>