<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
    window.onload = function () {

      let tBody = document.querySelector('#tBody');

      function makeTable(dataList) {
        for (i in dataList) {

          let textNode = document.createTextNode(dataList[i].name);
          let tdNode = document.createElement("td");
          tdNode.appendChild(textNode)
          // let inputNode = document.createElement("input");
          // inputNode.type = "button";
          // inputNode.value = "상세페이지";
          // inputNode.onclick = function () {
          //   location.href = 'http://localhost:8080/delivery-service/company/member/members/'+dataList[i].id
          // };
          let aNode = document.createElement("a");
          aNode.text="상세페이지"
          aNode.href='http://localhost:8080/delivery-service/company/member/members/'+dataList[i].id
          let tdNode2 = document.createElement("td");
          tdNode2.appendChild(aNode)
          // tdNode2.appendChild(inputNode);
          let trNode = document.createElement("tr");
          trNode.appendChild(tdNode);
          trNode.appendChild(tdNode2);
          tBody.appendChild(trNode);
        }
      }

      axios({
        url: 'http://127.0.0.1:5510/api/delivery-service/company/member/allMember',
        method: 'get'
      })
      .then(function a(response) {
        let responseData = response.data;
        let status = response.status;
        let memberList = responseData["list"];
        console.log(memberList)
        if (status == 200) {
          makeTable(memberList);
        }
      })
      .catch(function (error) {
        console.log(error);
        alert("서버에 문제가 있습니다. 잠시후 시도해 주세요.")
      });
    }
  </script>
</head>

<body>

<div>
  <h2>기업회원 목록</h2>
  <input type="button" onclick="location.href='/delivery-service'" value="돌아가기">
</div>

<table id="table" border="1">
  <thead>
  <tr>
    <th>상호명</th>
    <th>상세 페이지</th>
  </tr>
  </thead>
  <tbody id="tBody"></tbody>
</table>

</body>
</html>
