<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        window.onload = function () {
            const companyAllOfDayAxios =  axios({
                url: 'http://192.168.148.4:5510/api/delivery-service/statistic/company/all/day',
                method: 'get'
            });
            const tableBodyElement = document.getElementById("tableBody");
            const makeTable = (sumStatisticList)=>{
                for (let i = 0; i < sumStatisticList.length; i++) {
                    const year = sumStatisticList[i].date.substring(0,4);
                    const month = sumStatisticList[i].date.substring(4,6);
                    const day = sumStatisticList[i].date.substring(6,8);
                    const date = year + "년" + month + "월" + day + "일";

                    const createdTextNode
                        = document.createTextNode(date);
                    const tdNode = document.createElement("td");
                    tdNode.appendChild(createdTextNode);
                    //한국 숫자 단위로 표현하기.
                    const sum = sumStatisticList[i].sum.toString().replace(/\B(?=(\d{3})+(?!\d))/g,
                        ',');
                    const text = document.createTextNode(sum);
                    const tdNode2 = document.createElement("td");
                    tdNode2.appendChild(text)
                    let trNode = document.createElement("tr");
                    trNode.appendChild(tdNode);
                    trNode.appendChild(tdNode2);
                    tableBodyElement.appendChild(trNode);
                }
            }

            companyAllOfDayAxios
            .then(response=>{
                console.log(response);
                const sumStatisticList = response.data.sumStatisticList;
                makeTable(sumStatisticList);
            })
            .catch(error=>{
                console.log(error);
            })
        };
    </script>
</head>
<body>
    <h2>하루 단위 전체 가게 매출</h2>
    <table border="1">
        <thead>
        <tr>
            <th>날짜</th>
            <th>매출금액</th>
        </tr>
        </thead>
        <tbody id="tableBody">

        </tbody>
    </table>
</body>
</html>