<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        window.onload = function () {
            //기업 회원 리스트 가져오고, 상호명, 주문하기 테이블 만들기.
            let tBody = document.getElementById("tBody");

            function makeTable(dataList) {
                for (i in dataList) {
                    let companyMemberIdText = document.createTextNode(dataList[i].id);
                    let tdNode0 = document.createElement("td");
                    tdNode0.appendChild(companyMemberIdText)
                    let textNode = document.createTextNode(dataList[i].name);
                    let tdNode = document.createElement("td");
                    tdNode.appendChild(textNode)

                    const buttonElement1 = document.createElement("button");
                    buttonElement1.id="generalOfDay"
                    buttonElement1.appendChild(document.createTextNode("하루단위통계"))
                    let tdNode3 = document.createElement("td");
                    tdNode3.appendChild(buttonElement1)
                    buttonElement1.setAttribute("generalId",dataList[i].id)

                    const buttonElement2 = document.createElement("button");
                    buttonElement2.id="generalOfMonth"
                    buttonElement2.appendChild(document.createTextNode("한달단위통계"))
                    buttonElement2.setAttribute("generalId",dataList[i].id)
                    let tdNode4 = document.createElement("td");
                    tdNode4.appendChild(buttonElement2)


                    let trNode = document.createElement("tr");
                    trNode.appendChild(tdNode0);
                    trNode.appendChild(tdNode);
                    trNode.appendChild(tdNode3);
                    trNode.appendChild(tdNode4);
                    tBody.appendChild(trNode);
                }
            }

            //일반 회원 리스트 가져와서 테이블 만들기.
            axios({
                url: 'http://192.168.148.4:5510/api/delivery-service/general/member/all',
                method: 'get',
            })
            .then(function (response) {
                let status = response.status;
                let responseData = response.data;
                console.log(response)
                let generalMemberList = responseData["list"];
                if (status == 200) {
                    makeTable(generalMemberList);
                }
            })
            .catch(function (error) {
                console.log(error);
                alert("서버에 문제가 있습니다. 잠시후 시도해 주세요.")
            });

            document.addEventListener('click', function (event) {
                if (event.target.id == "generalOfDay") {
                    const companyId = event.target.getAttribute("generalId");
                    location.href= "/delivery-service/statistic/general/id/day/"+companyId
                }
                if (event.target.id == "generalOfMonth") {
                    const companyId = event.target.getAttribute("generalId");
                    location.href= "/delivery-service/statistic/general/id/month/"+companyId
                }

            });
        };
    </script>
    <title>Document</title>
</head>
<body>
<div>
    <h2 id="h2">가게 리스트</h2>
    <input type="button" value="돌아가기" onclick="location.href='/delivery-service/statistic/home'">
</div>
<table id="table" border="1">
    <thead>
    <tr>
        <th>generalMemberId</th>
        <th>회원명</th>
        <th>하루단위통계</th>
        <th>한달단위통계</th>
    </tr>
    </thead>
    <tbody id="tBody"></tbody>
</table>


</body>
</html>