<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>통계 홈</h2>
<a href="javascript:history.back();">뒤로가기</a>
<p>
    <button th:text="'하루 단위 전체 가게 매출'"
            th:onclick="|location.href='@{/delivery-service/statistic/company/all/day}'|"></button>
</p>
<p>
    <button th:text="'한달 단위 전체 가게 매출'"
            th:onclick="|location.href='@{/delivery-service/statistic/company/all/month}'|"></button>
</p>
<p>
    <button th:text="'하루 단위 가게 별 매출'"
            th:onclick="|location.href='@{/delivery-service/statistic/company/member/day}'|"></button>
</p>
<p>
    <button th:text="'한달 단위 가게 별 매출'"
            th:onclick="|location.href='@{/delivery-service/statistic/company/member/month}'|"></button>
</p>

<p>
    <button th:text="'하루 단위 손님 별 매출'"
            th:onclick="|location.href='@{/delivery-service/statistic/general/member/day}'|"></button>
</p>
<p>
    <button th:text="'한달 단위 손님 별 매출'"
            th:onclick="|location.href='@{/delivery-service/statistic/general/member/month}'|"></button>
</p>

</body>
</html>